/* blueprint lines 
div {
    
    outline: 1px;
    outline-color: blue;
    outline-style: dotted;
}
*/

#action-button {
    background-color: white;
    border-radius: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.label_spacing {
    margin-top: 10px;
}

.antique-white {
    background-color: antiquewhite;
}

#subtitle {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
}

.no_spacing {
    margin-top: 1px;
    margin-bottom: 1px;
}

#rating {
    padding-top: 10px;
    padding-bottom: 5px;
}

#header {
    text-align: center;
}

.form_background {
    background-color: antiquewhite;
    border-radius: 20px;
}

video {
    width: 100%;
    border-radius: 20px;
}

footer {
    padding: 40px;
}

#landing {
    
    /* */ 
    padding-top: 10%;
    padding-bottom: 10%;
    
    background-color: antiquewhite;
}

.no-para-spacing {
    margin-top: 0%;
    margin-bottom: 0%;
}
    
