{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center py-4 px-2">
            <div class="col-md-8">
                <h1 class="mb-4">About Roof</h1>
                <p>Our mission is to make things fairer for tenants.</p>
                <p>Tenants are younger, poorer, less experienced, and less powerful in the market than the landlords they are interacting with. They are predominantly young people, either students or young professionals who are setting out in life. They are more financially precarious and are often finding their feet in the city.</p>
                <p>They aren't having a great time of it at the moment. Houses prices are 9x the average income. Student debt. Inflation. And the economy isn't growing at the pace it used to. More people are renting for longer.</p>
                <p>As actors in the property market, tenants have little to no power. They are treated by the market as disposable because they do not communicate with each other or act as a block. There are no mechanisms for identifying and labelling bad actors.</p>
                <p>You can only hear of a bad landlord or hiddin problems in a property if you happen to speak to the previous tenants.</p>
                <p>In every other marketplace, bad actors are identified and marginalised through ratings of one kind or another. Think of Amazon reviews. Google reviews. Trustpilot. Glassdoor.</p>
                <p>These systems deter people who might be open to acting poorly from doing so. It keeps everyone honest. In the property market, there is no such mechanism. This situation incentivises landlords to abuse their position.</p>
                <p>That's where we come in.</p>
            </div>
        </div>
    </div>
{% endblock %} 