{% extends 'layout.html' %}

{% block title %}

Blog

{% endblock %}

{% block script %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            
            const titleTarget = document.getElementById('titleTarget');
            const contentTarget = document.getElementById('contentTarget');

            fetch('/api/view_post/{{slug}}')
            .then(response => response.json())
            .then(data => {
                titleTarget.innerText = data.title;
                contentTarget.innerHTML = data.html;
            })
            .catch(error => {
                console.error(error)
            })
        })
    </script>

{% endblock %}

{% block main %}

    <div class="container">
        <div class="row justify-content-center mt-5 mb-4">
            <div class="col-sm-6 bg-light rounded px-5 py-2">
                <h1 class="display-5 mt-4" id="titleTarget"></h1>
                <hr>
                <div id="contentTarget"></div>
            </div>
        </div>
    </div>

{% endblock %}