{% extends 'layout.html' %}

{% block title %}

    Find a Rating

{% endblock %}

{% block script %}

    <script>

        // function for loading data to the table
        function load(data) {
            console.log(data);
            
            // identify table
            const table = document.getElementById('table');
            
            // clear any existing data in the table
            while (table.firstChild) {
                table.removeChild(table.firstChild);
            }

            // load data in variable 'data' into html rows and columns
            data.forEach(review => {
                const row = document.createElement('tr');

                const name = document.createElement('td');
                name.textContent = review.fn;
                row.appendChild(name);

                const address = document.createElement('td');
                address.textContent = review.address;
                
                const postcode = document.createElement('td');
                postcode.textContent = review.postcode;

                const id = review.rating_id;

                address.addEventListener('click', function() {
                    window.location.href = `/view_review/${id}`
                })
                address.style.cursor = 'pointer';

                row.appendChild(address)
                row.appendChild(postcode)

                const rating = document.createElement('td')
                rating.textContent =  review.rating
                row.appendChild(rating)

                const years = document.createElement('td')
                years.textContent = review.years
                row.appendChild(years)

                table.appendChild(row)
            })
        }
        
        // once the page is loaded, add all the reviews to the table

        document.addEventListener('DOMContentLoaded', function(){

            // get all reviews

            fetch('api/get_all')
            .then(response => response.json())
            .then(data => {
                load(data)
            })
            .catch(error => {
                    console.error('Error fetching reviews:', error)
            })

            // add an event listener to the button, getting the reviews which match the filter

            document.getElementById('search_button').addEventListener('click', function() {
                const filter = document.getElementById('search').value;
                
                // post filter to 'find_rating' api
                fetch('api/search', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({filter: filter})
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    load(data);
                })
                .catch(error => {
                    console.error('Error getting search results:', error);
                });
            });
        });


    </script>

{% endblock %}

{% block main %}

    <div class="container d-flex flex-column justify-content-center my-5">
        <div class="col-12 col-md-4 offset-md-4">
            <div class="row text-center">
                <h3>Search for a rating</h3>
            </div>
            <div class="row">
                <input class="form-control" type="text" name="search" id="search" placeholder="search for an address" autocomplete="off">
                <button class="btn btn-primary form-control mt-1" name="search_button" id="search_button" type="submit">Go</button>
            </div>
            <div class="row">
                <a href="/find_rating">
                    <button class="btn form-control" type="button" id="show_all">
                        Show all ratings
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Postcode</th>
                    <th scope="col">Landlord Rating</th>
                    <th scope="col">Years spent at the property</th>
                </tr>
            </thead>
            <tbody id="table"></tbody>
        </table>
    </div>

{% endblock %}
