{% extends 'layout.html' %}

{% block title %}

    Home

{% endblock %}

{% block script %}

    <script>
        // block the form submission from its default action, and instead post the info in the form to the /submit api route using fetch
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('form');
            form.addEventListener('submit', function(event) {
                // prevent submission of the form in the usual way
                event.preventDefault();
                // capture form data
                const formData = new FormData(form);
                const values = {};
                formData.forEach((value, key) => {
                    // if a corresponding key doesn't already exist in 'values', then create an empty one. 
                    if (!values[key]) {
                        values[key] = [];
                    }
                    // add value to corresponding key
                    values[key].push(value);
                    if (key != 'years') {
                        values[key] = values[key][0];
                        console.log(key + ":" + values[key] + " array: " + Array.isArray(values[key]));
                    }
                });
                console.log("Before join: years: " + values['years'] + " array: " + Array.isArray(['years']));
                const years = values['years'].join(", ");
                console.log("After join: years: " + years + " array: " + Array.isArray(years));
                values['years'] = years;
                // JSONify the dict and send it to the API
                fetch('api/submit', {
                    method: 'POST',
                    headers: {
                        'Content-Type':'application/json'
                    },
                    body: JSON.stringify(values)
                })
                .then(response => response.json())
                .then(data => {
                    // 'data' should be json data either indicating a success (200) or an explanatory error and '500'
                    // 'data' cannot be printed because it is an object
                    window.location.href = '/submit';
                })
                .catch(error => console.error('Error: ', error));
            })
        })
    </script>

{% endblock %}

{% block main %}
    <div class="container-fluid text-start mt-2" id="landing">
        <div class="row">
            <div class="col mx-2">
                <h1>Welcome to Roof!</h1>
                <h2>Glassdoor for landlords</h2>
            </div>
        </div>
    </div>
    <div class="container" id="content">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3>What is Roof?</h3>
                <div class="carousel slide p-2 my-3" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <h1 class="lead">An accountability mechanism for landlords</h1>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <h1 class="lead">Bringing transparency to the property market</h1>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <h1 class="lead">Empowering tenants to stand up for themselves</h1>
                        </div>
                    </div>
                </div>
                <div name="text-div">
                    <p>Our mission is to make things fairer for tenants.</p>
                    <p>Roof exists to make life fairer for anyone trying to rent.<br></p>
                    <p>Tenants are younger, poorer, less experienced, and less powerful in the market than the landlords they are interacting with. Tenants are predominantly young people, either students or young professionals who are setting out in life. They are more financially precarious and are often finding their feet in the city.<br></p>
                    <p>
                        They aren’t having a great time of it at the moment. Houses prices are 9x the average income. Student debt. Inflation. And the economy isn’t growing at the pace it used to. More people are renting for longer.<br>
                    </p>
                    <p>
                        As actors in the property market, tenants have little to no power. They are treated by the market as disposable because they do not communicate with each other or act as a block. There are no mechanisms for identifying and labelling bad actors.
                    </p>
                    <p>
                        You can only hear of a bad landlord by good fortune; through word of mouth or if you happen to have a particularly honest estate agent.
                    </p>
                    <p>
                        In every other marketplace, bad actors are identified and marginalised through ratings of one kind or another. Think of Amazon reviews. Google reviews. Trustpilot. Glassdoor.
                    </p>
                    <p>
                        These systems deter people who might be open to acting poorly from doing so. It keeps everyone honest. In the property market, there is no such mechanism. This situation incentivises landlords to abuse their position.
                    </p>
                    <p>
                        That’s where we come in.
                    </p>
                </div>
            </div>
        <div class="row justify-content-center my-5">
            <div class="col col-md-6">
                <div class="p-5 form_background">
                    <div>
                        <h2 id="header">Rate your landlord</h2>
                    </div>
                    <div>
                        <form id="form" action="/submit" method="POST" autocomplete="on">
                            <div class="row">
                                <label class="form-label label_spacing" for="first_name">First name:</label>
                                <input class="form-control" type="text" placeholder="Jerry" name="first_name" id="first_name" required>
                            </div>
                            <div class="row">
                                <label class="form-label label_spacing" for="last_name">Last name:</label>
                                <input class="form-control" type="text" placeholder="Seinfeld" name="last_name" id="last_name" required>
                            </div>
                            <div class="row">
                                <label class="form-label label_spacing" for="address">First line of address:</label>
                                <input class="form-control" type="text" placeholder="123 Crazy Corner" name="address" id="address" required>
                            </div>
                            <div class="row">
                                <label class="form-label label_spacing" for="postcode">Postcode:</label>
                                <input class="form-control" type="text" name="postcode" placeholder="AB1 2CD" id="postcode" required>
                            </div>
                            <div class="row">
                                <label class="form-label label_spacing" for="email">Email:</label>
                                <input class="form-control" type="text" id="email" name="email" placeholder="jerry.seinfeld@aol.com" required>
                            </div>
                            <div class="row">
                                <label class="form-label label_spacing" for="rating">Landlord rating</label>
                                <select class="form-select" name="rating" id="rating" required>
                                    <option disabled selected>Select...</option>
                                    {% for x in range(5) %}
                                    <option value="{{ x + 1 }}">{{ x + 1 }} star</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row">
                                <div class="form-check-label no-spacing">
                                    <label class="form-check-label label_spacing">Which years were you a tenant for?</label>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="years" id="2019" value="2019">
                                        <label class="form-check-label" for="2019">2019</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="years" id="2020" value="2020">
                                        <label class="form-check-label" for="2020">2020</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="years" id="2021" value="2021">
                                        <label class="form-check-label" for="2021">2021</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="years" id="2022" value="2022">
                                        <label class="form-check-label" for="2022">2022</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="years" id="2023" value="2023">
                                        <label class="form-check-label" for="2023">2023</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="years" id="2024" value="2024">
                                        <label class="form-check-label" for="2024">2024</label>
                                    </div>
                                </div>
                            </div>
                            <div hidden><input class="form-check-input" name="time" id="time" value="{{ time.strftime('%Y-%m-%d %H:%M:%S', time.localtime()) }}"></div>
                            <div class="row mt-4 mx-5">
                                <button class="btn btn-primary" id="submit" type="submit" style="text-align: center;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}
