{% extends 'layout.html' %}

{% block title %}

View review

{% endblock %}

{% block main %}

    <div class="container d-flex">
        <div class="col">
            <div class="row">
                <h1>Apologies, this page is a work in progress</h1>
                <p>1: {{ review.address }}</p>
                <p>2: {{ review['address'] }}</p>
                <p>3: {{ review }}</p>
                <p>4: {{ review['fn'] }}</p>
                <p>{{ id }}</p>
            </div>
        </div>
    </div>

{% endblock %}