{% extends 'layout.html' %}

{% block title %}

View review

{% endblock %}

{% block script %}

    <script>

        function goTo(address) {
            window.location.href = address
        }

        document.addEventListener('DOMContentLoaded', function() {
            const addressCol = document.getElementById('addressCol');
            const rating = document.getElementById('rating');

            fetch(`/api/review/{{rating_id}}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    data.address = 
                    addressCol.innerHTML = "<h5>" + data.address + "</h5>" + "<p>" + data.postcode + "</p>"
                    const stars = data.rating;
                    for (let y = 0; y < 5; y++) {
                        if (y < stars) {
                            const star = document.createElement('div')
                            star.innerHTML = `
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z"/></svg>
                                `
                            starsCol.appendChild(star)
                        } /*else {
                            star.textContent = 'star_rate';
                            rating.appendChild(star);
                        }*/
                    }
                    const map = document.getElementById('map');
                    const maps_input = data.address.replace(/, /g, "+").replace(/ /g, "+") + "," + data.postcode.replace(/ /g, "");
                    console.log("Maps input = " + maps_input);
                    map.src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyB0P7_Gwoc0Gbs-OFej8k1b2SM6OL2emYg&q=" + maps_input;
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    body.innerHTML = '<p>Error loading data.</p>';
                })
        })

    </script>

{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <button class=" btn btn-link" onclick="goTo('/find_rating')">
                    <span class="material-symbols-outlined">
                        arrow_back
                    </span>
                </button> 
            </div>
        </div>
        <div class="row my-3 justify-content-center">
            <div class="col col-md-4" id="addressCol"></div>
            <div class="col col-md-4 d-flex flex-nowrap justify-content-end" id="starsCol"></div>
        </div>
        <div class="row mb-4">
            <div class="col col-md-4">
                <div class="ratio ratio-4x3">
                    <iframe
                        id="map"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src=""
                    </iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}