{% extends 'layout.html' %}

{% block title %}

View review

{% endblock %}

{% block main %}

    <div class="container d-flex">
        <div class="col">
            <div class="row">
                <h1> {{ review.address }} </h1>
                <h2> {{ review.postcode }} </h2>
            </div>
            <div class="row">
                <iframe
                    width="600"
                    height="450"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB0P7_Gwoc0Gbs-OFej8k1b2SM6OL2emYg&q=Space+Needle,Seattle+WA">
                </iframe>
            </div>
        </div>
    </div>

{% endblock %}