{% extends 'layout.html' %}

{% block main %}

    <div class="container-fluid d-flex justify-content-center">
        <div class="row">
            <div class="col-12">
                <h1>Thank you!</h1><br>
                <p>Why not leave another review of a different flat you have lived in?</p>
                <a href="/rate">
                    <button class="btn btn-primary" type="button">Review another landlord</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
